<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
        <server>
            <id>visualpath-vi-aws-repo</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
<profiles>
  <profile>
    <id>visualpath-vi-aws-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>visualpath-vi-aws-repo</id>
    <url>https://visualpath-867295155325.d.codeartifact.us-east-1.amazonaws.com/maven/vi-aws-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>visualpath-vi-aws-repo</id>
    <name>visualpath-vi-aws-repo</name>
    <url>https://visualpath-867295155325.d.codeartifact.us-east-1.amazonaws.com/maven/vi-aws-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>